.btn {
  font-size: 1.8rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1.5rem 3rem;
  color: #fafafa;
  background: #1ed760;
  border-radius: 5rem;
  border: none;
  transition: all 150ms ease;
}

.btn:hover {
  cursor: pointer;
  background: hsla(141, 76%, 48%, 0.75);
}

.btn_secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 26rem;
  font-size: 1.6rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1.5rem 3rem;
  color: #fafafa;
  background: #1ed760;
  border-radius: 5rem;
  border: none;
  transition: all 150ms ease;
}

.btn_secondary:hover {
  cursor: pointer;
  background: hsla(141, 76%, 48%, 0.75);
}
