.modalContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 10;
}

.modalContainer:hover {
  cursor: default;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 50rem;
  padding: 2.5rem 5rem 5rem 5rem;
  background: hsl(210, 3%, 15%);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 10rem -2rem hsla(0, 0%, 0%, 1);
}

.title {
  width: 100%;
  text-align: left;
  color: #fafafa;
  font-size: 2.7rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  overflow-y: scroll;
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

.closeBtn {
  justify-self: flex-end;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  font-weight: 900;
  line-height: 0rem;
  color: hsla(0, 0%, 98%, 0.5);
  background: hsla(0, 0%, 98%, 0.2);
  border-radius: 5rem;
  border: none;
  transition: all 150ms ease;
}

.closeBtn:hover {
  cursor: pointer;
  color: hsla(0, 0%, 98%, 0.7);
  background: hsla(0, 0%, 98%, 0.1);
}
