.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20.4rem;
  padding: 3rem;
  background: #262728;
  border-radius: 3rem;
}

.title {
  display: inline-block;
  color: #fff;
  font-family: "Alfa Slab One";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09rem;
  text-transform: capitalize;
  text-align: center;
  width: fit-content;
  transition: all 200ms ease-out;
}

.title span {
  color: #1ed760;
}

.title:hover {
  cursor: default;
  letter-spacing: 0.01rem;
}
